/* Custom Login*/
.form-signin{
    width: 350px;
}
.form-signin .btn-login{
    box-shadow: none;
}

.panel-heading h3{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0px;
    color: #797979;
}

/* Table */
table.table th:last-child,table.table td:last-child{
    width: auto;
}
table.table th:first-child,table.table td:first-child{
    width: 30px;
}
.btnEdit{
    margin-right: 5px;
}